<div class="signup">
  <main id="sign-up">
          <br><br>
          <h2>Sign Up to start using TYS !</h2>
          <label for="fname"><b>Name: </b></label>
          <input type="text" placeholder="Enter Your Name" name="fname" required>
          <br><br>
          <label for="age"><b>Age: </b></label>
          <input type="text" placeholder="Enter Your Age" name="age" required>
          <br><br>
          <label for="contact"><b>Mobile: </b></label>
          <input type="text" placeholder="Enter Your Mobile Number" name="contact" required>
          <br><br>
          <label for="mail"><b>Mail ID: </b></label>
          <input type="text" placeholder="Enter Your Mail ID" name="mail" required>
          <br><br>
          <label for="username"><b>Username: </b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
          <br><br>
          <label for="pwd"><b>Password: </b></label>
          <input type="password" placeholder="Enter Password" name="pwd" required>
          <br><br>
          <input type='button' class='button1' value='Create Your Account'>
          <br><br>
  </main>
</div>
